<!Doctype HTML>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <title>Scrabble Score Site of DOOM</title>
</head>

<body>
  <h1>LETS SCRABBLE!</h1>
  <form action='/results'>
    <div class="form-group">
      <label for="scrabble_word">Scrabble word you want scored</label>
      <input id="scrabble_word" name="scrabble_word" class="form-control" type="text">
    </div>
    <button type="submit" class="btn" id="scrabble_button">Scrabble!</button>
  </form>

</body>
</html>
