<!Doctype HTML>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <title>Scrabble Score | Results</title>
</head>

<body>
  <h1>Here is your score!</h1>
  <p>results go here:</p>
  <p><%= @scrabble %></p>
</body>

</html>
